.favbg{
    border-radius: 10px;
    background: #0E002C;
    height:94px;
    width:94px;
    margin:15px;
}
.test{
    padding-top: 43px;
    font-size: 35px;
}
.Playlists{
    width: 115%;
    margin: 10px;
    max-width: 550px;
    display: flex;
}
.Playlists:hover{
    opacity: 0.85;
}
.Playlists:hover .test{
    color: rgb(253, 162, 162);
}

.myred{
    width: 115%;
}

.mygreen:hover .test{
    color: #86e4bd;
}
.delbutton{
    margin-top: -89px;
    margin-left:550px;
    position: absolute;
}

