.rect{
min-width: 220px;
min-height: 400px;
position: fixed;
width: 22%;
height: 100%;
left: 0px;
top: 0px;
background: #0E002C;
color: white;
z-index: 4;
font-family: "Montserrat";
font-style: normal;
}

@font-face {
    font-family: "Montserrat"; 
    src: url("../Fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
.left{
    left: 79.17%;
    right: -33.33%;
    top: 83.33%;
    bottom: -50%;
    margin-left: 0.6%;
    position: fixed;
    bottom: 16.7%;
    z-index: 5;
    background: white;
    transform: rotate(-180deg);
}
