
.showToTry{
    top: 42%;
}
.yourTopMixes{
    top: 75.5%;
}

.rects{
    text-shadow: 2px 2px 3px black;
    color: white;
    z-index: 3;
    position: absolute;
    width: 23%;
    height: 10%;
    border-radius: 16px;
    background: #474747;
}
.rects:hover{
    opacity: 87%;
}
.rect5{
    left: 25%;
    top: 15%;
    background: #474747;
}
.rect6{
    left: 50%;
    top: 15%;
    background-image: url(../../../pics/acoustic.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect7{
    left: 75%;
    top: 15%;
    background-image: url(../../../pics/electro.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect8{
    left: 25%;
    top: 28.5%;
    background-image: url(../../../pics/romantic.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect9{
    left: 50%;
    top: 28.5%;
    background-image: url(../../../pics/hiphop.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect10{
    left: 75%;
    top: 28.5%;
    background-image: url(../../../pics/music.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bmid{
    font-size: 20px;
    position: absolute;
    height: 40%;
    bottom: 0%;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 100%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.4);
}
.mid{
    height: 100%;
    bottom: -28%;
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    position: absolute;
    text-align: center;
}
.empty{
    position: absolute;
    height: 400px;
    width: 100px;
    bottom: -90px;
}
.bigRects{
    font-weight: 700;
    font-size: 28px;
    text-shadow: 5px 5px 8px black;
    color: white;
    vertical-align: middle;
    z-index: 3;
    position: absolute;
    width: 23%;
    height: 23%;
    border-radius: 16px;
    background: #474747;
}
.bigRects:hover{
    opacity: 85%;
}

.rect11{
    left: 25%;
    top: 49.2%;
    background-image: url(../../../pics/old.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect12{
    left: 50%;
    top: 49.2%;
    background-image: url(../../../pics/pop.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect13{
    left: 75%;
    top: 49.2%;
    background-image: url(../../../pics/90s.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect14{
    left: 25%;
    top: 82.8%;
    background-image: url(../../../pics/queen.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect15{
    left: 50%;
    top: 82.8%;
    background-image: url(../../../pics/nickelback.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rect16{
    left: 75%;
    top: 82.8%;
    background-image: url(../../../pics/skillet.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.set{
    z-index: 6;
    width: 390px;
}
.iconMenu{
    z-index: 6;
    width: 390px;
    position: absolute;
}
